

  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


.nav.shad {
  box-shadow: 6px 6px 9px grey;
}

.nav{
  backdrop-filter: blur(20px);
}

/* * {
  border: 1px solid red;
} */

.youtube-vid-container video {
  border-radius: 2.25rem;
  /* border-top-left-radius: 2.25;
  border-top-right-radius: 2.25; */
}

 
/* body {
  font-family: -apple-system, 
      BlinkMacSystemFont, sans-serif;
} */

@font-face {
  font-family: 'Gilroy'; /*a name to be used later*/
  src: url('/Gilroy-Regular.otf'); /*URL to font*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro'; /*a name to be used later*/
  src: url('/SF-Pro-Display-Regular.otf'); /*URL to font*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro'; /*a name to be used later*/
  src: url('/SF-Pro-Display-Semibold.otf'); /*URL to font*/
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro'; /*a name to be used later*/
  src: url('/SF-Pro-Display-Bold.otf'); /*URL to font*/
  font-weight: 700;
  font-style: normal;
}

* {
  font-family:"SFPro";
  
}

/* h1{
  color:
} */

.text {
  transform: translateX(300px);
}

.test {
  height: 100vh;
}

.orange, .orange>h1 {
  color: #FF8C00;
}

.orange h2 {
  color: #ef982e;
  opacity: .8;
}

.white, .white>h1{
  color: white !important;
}

.white h2{
  color: white !important;
}

.pink, .pink>h1{
  color: rgb(255, 173, 187)
}

.pink h2{
  color:darksalmon
}

.blue, .blue>h1 {
  color: blue;
}
.blue h2 {
  color: blue;
  opacity: .8;
}

.red, .red>h1{
  color: rgb(207, 30, 30);
}

.red h2{
  color: rgb(231, 54, 96);
  opacity: .8;
}



.purple, .purple>h1{
  color: rgb(118, 36, 218)
}

.purple h2{
  color:rgb(140, 81, 213)
}

.ian, .ian>h1{
  color: rgb(146, 52, 208)
}

.ian h2{
  color:rgb(156, 81, 213)
}



.lex, .lex>h1{
  color: rgb(28, 90, 234)
}

.lex h2{
  color:rgb(55, 138, 247)
}


.green, .green>h1{
  color: rgb(25, 188, 153)
}

.green h2{
  color:rgb(108, 239, 217)
}


.nav-link {
  transition: all .3s;
}